################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GitHubApp/GitHubApp/GitHubApp.csproj
/.vs
/GitHubApp/.vs
/GitHubApp/GitHubApp/obj
