################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GitHubApp/GitHubApp/GitHubApp.csproj
